dewey.environment-name          = {{ environment_name }}

dewey.amqp.uri                  = {{ amqp_irods_uri }}
dewey.amqp.exchange.name        = {{ amqp.irods.name }}
dewey.amqp.exchange.durable     = {{ amqp.irods.durable }}
dewey.amqp.exchange.auto-delete = {{ amqp.irods.auto_delete }}
dewey.amqp.qos                  = 100

dewey.events.amqp.uri           = {{ amqp_de_uri }}

dewey.es.host                   = {{ elasticsearch.host }}
dewey.es.port                   = {{ elasticsearch.port }}
dewey.es.username               = {{ elasticsearch.username }}
dewey.es.password               = {{ elasticsearch.password }}
dewey.es.index                  = {{ elasticsearch.indices.data.alias }}

dewey.irods.host                = {{ irods.host }}
dewey.irods.port                = {{ irods.port }}
dewey.irods.zone                = {{ irods.zone }}
dewey.irods.user                = {{ irods.user }}
dewey.irods.password            = {{ irods.password }}
dewey.irods.default-resource    = {{ irods.default_resource }}
dewey.irods.home                = {{ irods.home }}

dewey.status.listen-port        = {{ default_service_port }}
