# ElasticSearch Settings
infosquito.es.host        = {{ data_store.elasticsearch.host }}
infosquito.es.port        = {{ data_store.elasticsearch.port }}
infosquito.es.index       = {{ data_store.elasticsearch.data_index }}
infosquito.es.scroll-size = {{ data_store.elasticsearch.scroll_size }}

# ICAT Database Connection Settings
infosquito.icat.host     = {{ icat.host }}
infosquito.icat.port     = {{ icat.port }}
infosquito.icat.user     = {{ icat.user }}
infosquito.icat.password = {{ icat.password }}
infosquito.icat.db       = {{ icat.db }}

# Indexing Options
infosquito.base-collection  = /{{ irods.zone }}
infosquito.index-batch-size = 1000

# AMQP Settings
infosquito.amqp.uri                  = {{ amqp_de_uri }}
infosquito.amqp.reindex-queue        = infosquito.reindex
infosquito.amqp.exchange.name        = {{ amqp.de.name }}
infosquito.amqp.exchange.durable     = {{ amqp.de.durable }}
infosquito.amqp.exchange.auto-delete = {{ amqp.de.auto_delete }}

# Progress Notification Settings
infosquito.notify.enabled = {{ infosquito.notify_enabled }}
infosquito.notify.count   = {{ infosquito.notify_count }}

# Retry Interval (in seconds)
infosquito.retry-interval = {{ infosquito.retry_interval }}
