# Grouper loader uses Grouper Configuration Overlays (documented on wiki)
# By default the configuration is read from grouper-loader.base.properties
# (which should not be edited), and the grouper-loader.properties overlays
# the base settings.  See the grouper-loader.base.properties for the possible
# settings that can be applied to the grouper.properties


########################################
## Config chaining hierarchy
########################################

# seconds between checking to see if the config files are updated
loader.config.secondsBetweenUpdateChecks = 60


########################################
## General settings
########################################

# if you want queries which do not specify subject source to come from a certain
# source, specify here (improves performance so it doesnt search through all sources)
default.subject.source.id = {{ grouper.subject_source.id }}

# if you dont specify a groupNameExpression, groups will be loaded into this folder
# if this property doesnt exist, it will be groups:    if it is blank, then there is no top level folder
# e.g. loader:groups
loader.ldap.defaultGroupFolder = ldap:groups

#################################
## LDAP connections
#################################

# The subject source URL.
ldap.groupSource.url = {{ grouper.loader.url }}
ldap.groupSource.user = {{ grouper.loader.user }}
ldap.groupSource.pass = {{ grouper.loader.pass }}
