{{ docker.registry.base }}/backwards-compat:latest
{{ docker.registry.base }}/backwards-compat:{{docker.tag}}
discoenv/porklock:{{docker.tag}}
discoenv/porklock:latest
{{ docker.registry.base }}/iplant_data:latest
gliderlabs/consul-server:latest
{{ docker.registry.base }}/de-configs-{{environment_name}}:{{docker.tag}}
discoenv/curl-wrapper:latest
